In [7]:
a = [1,2,3,4,5,6] #list is changeable #mutable

In [8]:
a[0] = "7"

In [9]:
a

['7', 2, 3, 4, 5, 6]

In [10]:
b =(1,2,3,4,5,6) #tuple is not changeable #immuteable

In [11]:
b[0] = '9'

TypeError: 'tuple' object does not support item assignment

In [13]:
t = (1,2,3,4)

In [14]:
t

(1, 2, 3, 4)

In [15]:
type(t)

tuple

In [16]:
t[3]

4

In [17]:
for i in t:
    print(i)

1
2
3
4

In [20]:
def create_tuple():
    fruits = ("banana","mango","gauavas") #local variable beacuse this is write in def function
    for f in fruits:
        print(f)

In [21]:
create_tuple()

banana
mango
gauavas

In [24]:
 fruits = ("banana","mango","gauavas") #golbal varialbe because this is write in outside the def function

In [25]:
if "banana" in fruits:
    print('yes')

yes

In [26]:
fruits.count("mango") #k ya word list ma ya tuple ma kitni bar aya h

1

In [27]:
fruits.index("mango")

1

In [28]:
d = {"name":"aqsa",
    "roll no": 3210}
e =("aqsa","bscs",3210)
f = ['aqsa','bscs',3210]

In [29]:
print(d)
print(e)
print(f)

{'name': 'aqsa', 'roll no': 3210}
('aqsa', 'bscs', 3210)
['aqsa', 'bscs', 3210]

In [30]:
d

KeyError: 0